<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#home">home <span class="sr-only">(current)</span></a><!--screen reader only-->
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <br>
    <br>
    <br>
    <div class="custom-sidebar">
      <div *ngFor="let item of listItems">
        <a href="{{item.link}}" *ngIf="item.isNew!==true">{{item.name}}</a><!--will emit html once they render in the browser-->
        <a href="{{item.link}}" target="_blank" *ngIf="item.isNew===true">{{item.name}}</a><!--3 ='s is to check both equality and type-->
      </div>
      <hr>
      <div class="add-component-container">
        <input class="form-control" type="text" [(ngModel)]="title" placeholder="Type Title"/><!--2 way binding = which means that model can push to the view and vice versa-->
        <input class="form-control" type="text" [(ngModel)]="url" placeholder="Type url like www.google.com"/>
        <!--nested column--><div class="col-md-10 offset-md-1"><!--offset is multiplied by 2 which makes it = 12-->
          <button class="btn btn-primary btn-block" (click)="add(title,url)">Add Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>